.ico-mod-billingperiod    { background-image: url(../img/period.png) !important; }
.ico-mod-destination      { background-image: url(../img/dest.png) !important; }
.ico-mod-destinationset   { background-image: url(../img/dest_set.png) !important; }
.ico-mod-filter           { background-image: url(../img/filter.png) !important; }
.ico-mod-filterset        { background-image: url(../img/filter_set.png) !important; }
.ico-mod-rate             { background-image: url(../img/rate.png) !important; }
.ico-mod-rateclass        { background-image: url(../img/rate_class.png) !important; }
.ico-mod-ratemodifiertype { background-image: url(../img/rate_mod.png) !important; }

