.ico-mod-device, .ico-mod-devicetype               { background-image: url(../img/device.png) !important; }
.ico-mod-simpledevice, .ico-mod-simpledevicetype   { background-image: url(../img/device_simple.png) !important; }
.ico-mod-networkdevice, .ico-mod-networkdevicetype { background-image: url(../img/device_network.png) !important; }

.ico-mod-deviceflagtype         { background-image: url(../img/device_flag.png) !important; }
.ico-mod-devicetypeflagtype     { background-image: url(../img/device_type_flag.png) !important; }
.ico-mod-devicetypemanufacturer { background-image: url(../img/manufacturer.png) !important; }
.ico-mod-devicetypecategory     { background-image: url(../img/category.png) !important; }

