div.np-xradiolabel
{
	display: inline-block;
	vertical-align: top;
}

div.np-xradiolabel div.title
{
	font-weight: bold;
}

.ico-ticket-related { background-image: url(../img/ticket_related.png) !important; }
.ico-ticket-update { background-image: url(../img/ticket_update.png) !important; }
.ico-ticket-history { background-image: url(../../entities/img/history.png) !important; }
.ico-schedule { background-image: url(../img/calendar_task.png) !important; }

.ico-mod-ticket { background-image: url(../img/ticket.png) !important; }
.ico-mod-ticketchangefield { background-image: url(../img/ticket_chfield.png) !important; }
.ico-mod-ticketflagtype { background-image: url(../img/ticket_flag.png) !important; }
.ico-mod-ticketorigin { background-image: url(../img/ticket_origin.png) !important; }
.ico-mod-ticketscheduler { background-image: url(../img/schedule.png) !important; }
.ico-mod-ticketstate { background-image: url(../img/ticket_state.png) !important; }
.ico-mod-ticketstatetransition { background-image: url(../img/ticket_transition.png) !important; }
.ico-mod-tickettemplate { background-image: url(../img/ticket_template.png) !important; }

