.ico-mod-domain            { background-image: url(../img/domain.png) !important; }
.ico-mod-domainalias       { background-image: url(../img/domainalias.png) !important; }
.ico-mod-domainservicetype { background-image: url(../img/domainservicetype.png) !important; }
.ico-mod-domaintxtrecord   { background-image: url(../img/domaintxtrecord.png) !important; }

