Babel==1.3
Chameleon==2.16
Mako==1.0.0
MarkupSafe==0.23
PasteDeploy==1.5.2
Pygments==1.6
SQLAlchemy==0.9.8
WebOb==1.4
argparse==1.2.1
certifi==14.05.14
cliff==1.7.0
cmd2==0.6.7
cracklib==2.8.19
dogpile.cache==0.5.4
dogpile.core==0.4.1
icalendar==3.8.3
lingua==3.3
lxml==3.4.0
mysql-connector-python==2.0.1
phpserialize==1.3
polib==1.0.5
prettytable==0.7.2
pyparsing==2.0.3
pyramid==1.5.1
pyramid-debugtoolbar==2.2
pyramid-mailer==0.13
pyramid-mako==1.0.2
pyramid-redis-sessions==1.0a2
pyramid-rpc==0.5.2
python-dateutil==2.2
pytz==2014.7
redis==2.9.1
repoze.lru==0.6
repoze.sendmail==4.2
repoze.tm2==2.0
six==1.8.0
sockjs-tornado==1.0.1
stevedore==1.0.0
tornado==4.0.2
tornado-redis==2.4.18
transaction==1.4.3
translationstring==1.1
venusian==1.0
waitress==0.8.9
zope.deprecation==4.1.1
zope.interface==4.1.1
zope.sqlalchemy==0.7.5
