.ico-mod-network { background-image: url(../img/network.png) !important; }
.ico-mod-networkgroup { background-image: url(../img/netgroup.png) !important; }
.ico-mod-networkservice, .ico-mod-networkservicetype { background-image: url(../img/service.png) !important; }
.ico-mod-routingtable, .ico-mod-routingtableentry { background-image: url(../img/route.png) !important; }

