include *.txt *.ini *.cfg *.rst
recursive-include netprofile_devices *.ico *.png *.css *.gif *.jpg *.pt *.txt *.mak *.mako *.js *.html *.xml
recursive-include migrations *.py
include versioneer.py
include netprofile_devices/_version.py
