include *.txt *.ini *.cfg *.rst
recursive-include netprofile_domains *.ico *.png *.css *.gif *.jpg *.pt *.txt *.mak *.mako *.js *.html *.xml
include versioneer.py
include netprofile_domains/_version.py
