body
{
	padding:20px;
	padding-top:32px;
}

.x-body
{
	font-family:helvetica,tahoma,verdana,sans-serif;
	font-size:13px;
}

p
{
	margin-bottom:15px;
}

h1
{
	font-size:18px;
	margin-bottom:20px;
}

h2
{
	font-size:14px;
	color:#333;
	font-weight:bold;
	margin:10px 0;
}

div#splash
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	background: #5080b0;
	z-index: 1000;
}

div#splash div.splashcont
{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 6cm;
	height: 6cm;
	margin-top: -3cm;
	margin-left: -3cm;
	text-align: center;
}

div#splash div.splashcont img
{
	width: 5cm;
	height: 5cm;
}

div#splash div.splashcont h1
{
	font-family: helvetica,tahoma,verdana,sans-serif;
	font-size: 18pt;
}

.x-action-col-icon
{
	display: inline-block;
	border: 0;
	margin-left: 1px;
	width: 16px;
	height: 16px;
}

.x-form-folder-trigger
{
	background-image: url(../img/trigger-folder.png);
}

.np-cap-icon
{
	display: inline-block;
	border: 0;
	width: 16px;
	height: 16px;
	margin-top: -3px;
	margin-bottom: -4px;
	margin-right: 2px;
}

.np-object-frame
{
	margin-top: 1em;
	padding: 0.4em;
	border: 1px solid #BEC9D7;
	background-color: #DEE9F7;
}

.np-nopad .x-grid-cell-inner
{
	padding: 1px 2px 2px 2px;
}

.np-inline-img
{
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

.np-block-img
{
	display: block;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

.np-valign-top
{
	vertical-align: top;
}

.ux-timefield label, .ux-timefield input
{
	font-size: 11px;
	line-height: 11px;
}

.ux-timefield label
{
	padding: 6px;
}

.x-grid-filters-find
{
	background-image: url(../img/find.png) !important;
}

.record-tab-hdl span.x-tab-icon
{
	background-position: 0px 0px;
}

.record-tab-hdl span.x-tab-inner
{
	padding-top: 2px;
	height: 16px;
	position: relative;
}

.np-file-iview, .np-file-lview
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.np-file-iview .x-view-empty, .np-file-lview .x-view-empty
{
	color: gray;
	font: 11px tahoma,arial,helvetica,sans-serif;
	padding: 10px;
}

.np-file-lview
{
	position: relative;
	white-space: nowrap;
}

a.np-file-wrap
{
	display: inline-block;
	text-decoration: none;
	color: #000;
}

a.np-file-wrap .np-file-icon
{
	display: block;
	float: left;
	padding: 0;
	margin: 0 3px;
	width: 16px;
	height: 16px;
}

a.np-file-wrap span
{
	line-height: 16px;
}

.np-file-iview .np-file-wrap, .x-dd-drag-ghost .np-file-wrap
{
	float: left;
	width: 96px;
	margin: 7px;
	margin-right: 0;
	border: 1px solid #fff;
	padding: 4px;
	font-size: 85%;
	text-align: center;
}

.np-file-lview .np-file-wrap
{
	position: absolute;
	height: 20px;
	padding: 1px 3px;
	margin: 1px 0 0 1px;
	border: 1px solid #fff;
	font-size: 85%;
}

.np-file-iview .np-file-wrap .np-file-icon, .x-dd-drag-ghost .np-file-wrap .np-file-icon
{
	display: inline-block;
	padding: 3px;
	width: 54px;
	height: 51px;
	padding-bottom: 0;
}

.np-file-lview .np-file-wrap .np-file-icon
{
	display: block;
	float: left;
	padding: 0;
	margin: 0 3px 0 0;
	width: 16px;
	height: 16px;
}

.x-quirks .np-file-iview .np-file-wrap .np-file-icon, .x-quirks .x-dd-drag-ghost .np-file-wrap .np-file-icon
{
	height: 54px;
	padding-bottom: 3px;
}

.np-file-iview .np-file-wrap .np-file-icon img, .x-dd-drag-ghost .np-file-wrap .np-file-icon img
{
	width: 48px;
	height: 48px;
	pointer-events: none;
}

.np-file-lview .np-file-wrap .np-file-icon img
{
	width: 16px;
	height: 16px;
	pointer-events: none;
}

.np-file-iview .np-file-wrap span, .x-dd-drag-ghost .np-file-wrap span
{
	display: block;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.np-file-lview .np-file-wrap span
{
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 3px;
	max-width: 174px;
}

.np-file-iview .x-file-item-over
{
	border: 1px solid #ddd;
	background: #efefef url(../img/over.gif) repeat-x left top;
	padding: 4px;
}

.np-file-lview .x-file-item-over
{
	border: 1px solid #ddd;
	background: #efefef url(../img/over.gif) repeat-x left top;
}

.np-file-iview .x-item-selected
{
	background: #eff5fb url(../img/selected.gif) no-repeat right bottom;
	border: 1px solid #99bbe8;
	padding: 4px;
}

.np-file-lview .x-item-selected
{
	background: #eff5fb url(../img/selected.gif) no-repeat right bottom;
	border: 1px solid #99bbe8;
}

.x-view-selector
{
	position: absolute;
	border: 1px dotted #39b;
}

.np-file-upload-cont
{
	padding: 6px;
	background-color: #d9e7f8;
	border-top: 1px solid #f3f7fb;
	border-bottom: 1px solid #99bce8;
}

.np-file-upload-cont .np-file-upload-close
{
	padding: 3px 0px 3px 3px;
}

.np-console-icon
{
	display: block;
	float: left;
	padding: 0;
	margin: 0 3px;
	width: 16px;
	height: 16px;
}

.np-console-message
{
	display: inline-block;
	line-height: 16px;
}

table.np-rights-tbl td
{
	text-align: center;
}

table.np-rights-tbl td.hlabel
{
	text-align: right;
}

table.np-rights-tbl td.vlabel
{
	min-width: 4em;
}

div#npws_propbar div.np-subtab
{
	border-left-width: 1px;
	border-left-style: solid;
}

div#npws_propbar div.np-subtab div.x-tab-bar-body
{
	padding-top: 2px;
}

.x-tree-icon-parent
{
	background-image: url(../img/folder.png);
}

.x-grid-tree-node-expanded .x-tree-icon-parent
{
	background-image: url(../img/folder_open.png);
}

.tinymce-hide-border
{
	border-width: 0px;
}

.x-cons-data strong
{
	font-weight: bold;
}

.ico-accept       { background-image: url(../img/accept.png) !important; }
.ico-arrow-down   { background-image: url(../img/arrow_down.png) !important; }
.ico-arrow-up     { background-image: url(../img/arrow_up.png) !important; }
.ico-attach       { background-image: url(../img/attach.png) !important; }
.ico-add          { background-image: url(../img/add.png) !important; }
.ico-cancel       { background-image: url(../img/cancel.png) !important; }
.ico-clear        { background-image: url(../img/clear.png) !important; }
.ico-cog          { background-image: url(../img/cog.png) !important; }
.ico-collapse     { background-image: url(../img/collapse.png) !important; }
.ico-console      { background-image: url(../img/console.png) !important; }
.ico-conversation { background-image: url(../img/conversation.png) !important; }
.ico-copy         { background-image: url(../img/copy.png) !important; }
.ico-csv          { background-image: url(../img/csv.png) !important; }
.ico-cut          { background-image: url(../img/cut.png) !important; }
.ico-delete       { background-image: url(../img/delete.png) !important; }
.ico-doc-ren      { background-image: url(../img/doc_rename.png) !important; }
.ico-download     { background-image: url(../img/download.png) !important; }
.ico-edit         { background-image: url(../img/edit.png) !important; }
.ico-error        { background-image: url(../img/error.png) !important; }
.ico-exit         { background-image: url(../img/exit.png) !important; }
.ico-expand       { background-image: url(../img/expand.png) !important; }
.ico-folder-del   { background-image: url(../img/folder_delete.png) !important; }
.ico-folder-mount { background-image: url(../img/folder_mount.png) !important; }
.ico-folder-ren   { background-image: url(../img/folder_rename.png) !important; }
.ico-folder-tree  { background-image: url(../img/folder_tree.png) !important; }
.ico-find         { background-image: url(../img/find.png) !important; }
.ico-find-plus    { background-image: url(../img/find_plus.png) !important; }
.ico-first        { background-image: url(../img/first.png) !important; }
.ico-home         { background-image: url(../img/home.png) !important; }
.ico-info         { background-image: url(../img/info.png) !important; }
.ico-key          { background-image: url(../img/key.png) !important; }
.ico-last         { background-image: url(../img/last.png) !important; }
.ico-locale       { background-image: url(../img/locale.png) !important; }
.ico-lock         { background-image: url(../img/lock.png) !important; }
.ico-logout       { background-image: url(../img/logout.png) !important; }
.ico-minus        { background-image: url(../img/minus.png) !important; }
.ico-module       { background-image: url(../img/module.png) !important; }
.ico-next         { background-image: url(../img/next.png) !important; }
.ico-open         { background-image: url(../img/open.png) !important; }
.ico-paste        { background-image: url(../img/paste.png) !important; }
.ico-pdf          { background-image: url(../img/pdf.png) !important; }
.ico-plus         { background-image: url(../img/plus.png) !important; }
.ico-prev         { background-image: url(../img/prev.png) !important; }
.ico-print        { background-image: url(../img/print.png) !important; }
.ico-props        { background-image: url(../img/props.png) !important; }
.ico-redo         { background-image: url(../img/redo.png) !important; }
.ico-remove       { background-image: url(../img/remove.png) !important; }
.ico-revert       { background-image: url(../img/revert.png) !important; }
.ico-rewind       { background-image: url(../img/rewind.png) !important; }
.ico-run          { background-image: url(../img/run.png) !important; }
.ico-save         { background-image: url(../img/save.png) !important; }
.ico-saveas       { background-image: url(../img/saveas.png) !important; }
.ico-selectall    { background-image: url(../img/selectall.png) !important; }
.ico-script       { background-image: url(../img/script.png) !important; }
.ico-script-code  { background-image: url(../img/script_code.png) !important; }
.ico-script-arrow { background-image: url(../img/script_arrow.png) !important; }
.ico-sort         { background-image: url(../img/sort.png) !important; }
.ico-tag-blue     { background-image: url(../img/tag_blue.png) !important; }
.ico-text-center  { background-image: url(../img/text_center.png) !important; }
.ico-text-left    { background-image: url(../img/text_left.png) !important; }
.ico-text-right   { background-image: url(../img/text_right.png) !important; }
.ico-tool         { background-image: url(../img/tool.png) !important; }
.ico-upload       { background-image: url(../img/upload.png) !important; }
.ico-undo         { background-image: url(../img/undo.png) !important; }
.ico-view         { background-image: url(../img/view.png) !important; }
.ico-warning      { background-image: url(../img/warning.png) !important; }

.ico-status-away    { background-image: url(../img/status_away.png) !important; }
.ico-status-busy    { background-image: url(../img/status_busy.png) !important; }
.ico-status-offline { background-image: url(../img/status_offline.png) !important; }
.ico-status-online  { background-image: url(../img/status_online.png) !important; }

.ico-mod-acl                  { background-image: url(../img/key_plus.png) !important; }
.ico-mod-calendar             { background-image: url(../img/calendar.png) !important; }
.ico-mod-calendarimport       { background-image: url(../img/calendar_import.png) !important; }
.ico-mod-calendars            { background-image: url(../img/calendars.png) !important; }
.ico-mod-communicationtype    { background-image: url(../img/comm.png) !important; }
.ico-mod-datacache            { background-image: url(../img/db.png) !important; }
.ico-mod-globalsetting        { background-image: url(../img/item.png) !important; }
.ico-mod-globalsettingsection { background-image: url(../img/item_group.png) !important; }
.ico-mod-file                 { background-image: url(../img/file.png) !important; }
.ico-mod-filefolder           { background-image: url(../img/folder.png) !important; }
.ico-mod-folder               { background-image: url(../img/folder.png) !important; }
.ico-mod-group                { background-image: url(../img/group.png) !important; }
.ico-mod-logaction            { background-image: url(../img/script_arrow.png) !important; }
.ico-mod-logdata              { background-image: url(../img/script.png) !important; }
.ico-mod-logtype              { background-image: url(../img/script_code.png) !important; }
.ico-mod-npmodule             { background-image: url(../img/module.png) !important; }
.ico-mod-npsession            { background-image: url(../img/clock_period.png) !important; }
.ico-mod-privilege            { background-image: url(../img/key.png) !important; }
.ico-mod-securitypolicy       { background-image: url(../img/lock.png) !important; }
.ico-mod-tag                  { background-image: url(../img/tag_blue.png) !important; }
.ico-mod-user                 { background-image: url(../img/user.png) !important; }
.ico-mod-usercommunicationchannel { background-image: url(../img/comm.png) !important; }
.ico-mod-useremail            { background-image: url(../img/mail.png) !important; }
.ico-mod-userphone            { background-image: url(../img/phone/phone.png) !important; }
.ico-mod-usersetting          { background-image: url(../img/item.png) !important; }
.ico-mod-usersettingsection   { background-image: url(../img/item_group.png) !important; }
.ico-mod-usersettingtype      { background-image: url(../img/item_sel.png) !important; }

