.ico-mod-stash          { background-image: url(../img/stash.png) !important; }
.ico-mod-stashio        { background-image: url(../img/stashio.png) !important; }
.ico-mod-stashiotype    { background-image: url(../img/stashiotype.png) !important; }
.ico-mod-stashoperation { background-image: url(../img/stashop.png) !important; }

