.ico-mod-tvaccesscard          { background-image: url(../img/card.png) !important; }
.ico-mod-tvchannel             { background-image: url(../img/channel.png) !important; }
.ico-mod-tvsource              { background-image: url(../img/source.png) !important; }
.ico-mod-tvsourcetype          { background-image: url(../img/source.png) !important; }
.ico-mod-tvsubscription        { background-image: url(../img/subscr.png) !important; }
.ico-mod-tvsubscriptionchannel { background-image: url(../img/channel.png) !important; }
.ico-mod-tvsubscriptiontype    { background-image: url(../img/subscr.png) !important; }

