include *.txt *.ini *.cfg *.rst
recursive-include netprofile_entities *.ico *.png *.css *.gif *.jpg *.pt *.txt *.mak *.mako *.js *.html *.xml
include versioneer.py
include netprofile_tickets/_version.py
