.ico-house { background-image: url(../img/house.png) !important; }
.ico-map   { background-image: url(../img/map.png) !important; }

.ico-mod-city       { background-image: url(../img/map.png) !important; }
.ico-mod-district   { background-image: url(../img/district.png) !important; }
.ico-mod-house      { background-image: url(../img/house.png) !important; }
.ico-mod-housegroup { background-image: url(../img/house_group.png) !important; }
.ico-mod-place      { background-image: url(../img/place.png) !important; }
.ico-mod-street     { background-image: url(../img/road.png) !important; }
.ico-mod-userlocation { background-image: url(../img/house.png) !important; }

