.ico-mod-bill       { background-image: url(../img/bill.png) !important; }
.ico-mod-billserial { background-image: url(../img/bill_serial.png) !important; }
.ico-mod-billtype   { background-image: url(../img/bill_type.png) !important; }

