*
{
	margin: 0;
}

html, body
{
	height: 100%;
	margin: 0;
	padding: 0;
}

div#wrap
{
	min-height: 100%;
	height: auto;
	position: relative;
	margin: 0 auto -4em;
}

div#wrap:after
{
	content: '';
	display: block;
	height: 4em;
}

div#footer
{
	background-color: #f8f8f8;
	background-image: linear-gradient(to top, #ffffff 0%, #f8f8f8 100%);
	border-top: 1px solid #e7e7e7;
	padding: 0.3em 0.8em;
	margin-top: 0.6em;
	height: 2.8em;
	line-height: 2.8em;
	text-align: right;
	bottom: 0;
	z-index: 100;
	-webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.075);
	box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.075);
}

div#wrap > .container
{
	padding-top: 5em;
}

body > iframe
{
	display: none !important;
}

div.controls
{
	position: relative;
}

span.req
{
	color: #e13;
	font-size: 120%;
}

div.controls span.req
{
	position: absolute;
	display: inline-block;
	top: 0;
	right: 0.2em;
}

