*
{
	margin: 0;
}

html, body
{
	height: 100%;
	margin: 0;
	padding: 0;
}

div#wrap
{
	min-height: 100%;
	height: auto;
	position: relative;
	margin: 0 auto -4em;
}

div#wrap:after
{
	content: '';
	display: block;
	height: 4em;
}

div#footer
{
	color: #5e5e5e;
	background-color: #f8f8f8;
	background-image: linear-gradient(to top, #ffffff 0%, #f8f8f8 100%);
	padding: 1em 0.8em;
	margin-top: 0.6em;
	min-height: 2.8em;
	line-height: 1.4em;
	text-align: right;
	bottom: 0;
	z-index: 100;
	position: relative;
	-webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.075);
	box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.075);
}

div#wrap > .container
{
	padding-top: 5em;
	padding-bottom: 1em;
}

body > iframe
{
	display: none !important;
}

@media (max-width: 480px)
{
	.userbar
	{
	}

	.userbar > .btn-group
	{
		display: table;
		width: 100%;
		table-layout: fixed;
		border-collapse: separate;
		margin-bottom: 0.4em;
	}

	.userbar > .btn-group .btn
	{
		float: none;
		display: table-cell;
		width: 1%;
	}
}

div.controls
{
	position: relative;
}

span.req
{
	color: #e13;
	font-size: 120%;
}

div.controls span.req
{
	position: absolute;
	display: inline-block;
	top: 0;
	right: 0.2em;
}

.legend span.req
{
	display: block;
	float: left;
	vertical-align: middle;
	padding: 0.2em;
}

#recaptcha_widget_div
{
	position: relative;
	left: -3px;
}

#recaptcha_table
{
	line-height: 1.2 !important;
}

.single-line
{
	white-space: nowrap;
}

.navbar .chosen-container, .navbar .chosen-drop, .navbar .chosen-drop .chosen-search, .navbar .chosen-drop .chosen-search input
{
	width: 100% !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.navbar .chosen-container
{
	min-width: 10em !important;
}

.navbar-brand
{
  padding: 5px 15px;
}

.navbar-brand > .large, .navbar-brand > .small
{
	display: block;
}

.tab-content  > .list-group-item { display: none; }

.hide-no-js { display: none; }
.no-js ul > li:hover > ul.dropdown-menu { display: block; }
.no-js > .tab-pane, .no-js > .pill-pane, .no-js > .list-group-item { display: block; }

