body
{
	background-color: #eee;
}

.container
{
	position: absolute;
	width: 100%;
}

@media (min-width: 768px)
{
	.container
	{
		top: 25%;
	}
}

.form-signin
{
	max-width: 26em;
	padding: 0.6em 0.6em 0;
	margin: 0 auto;
}

.form-signin .form-control
{
	position: relative;
	font-size: 1.15em;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus
{
	z-index: 2;
}

.form-signin input[type="text"]
{
	margin-bottom: -1px;
	height: auto;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
	margin-bottom: 0.6em;
	height: auto;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-signin div.input-group
{
	margin-bottom: 0.6em;
}

.input-group .chosen-select
{
	padding-top: 6px;
	padding-right:12px;
	padding-bottom:6px;
	padding-left:12px;
}
