.ico-mod-accessblock          { background-image: url(../img/access_block.png) !important; }
.ico-mod-accessentity         { background-image: url(../img/access.png) !important; }
.ico-mod-accessentitychange   { background-image: url(../img/change.png) !important; }
.ico-mod-accessentitylink     { background-image: url(../img/link.png) !important; }
.ico-mod-accessentitylinktype { background-image: url(../img/link_type.png) !important; }
.ico-mod-networkdevicebinding { background-image: url(../img/iface_binding.png) !important; }

