.ico-mod-servertype      { background-image: url(../img/srvtype.png) !important; }
.ico-mod-server          { background-image: url(../img/srv.png) !important; }
.ico-mod-serverparameter { background-image: url(../img/srvparam.png) !important; }

